body, html {
    height: 100%;
    background-color: #333;
}

body {
  color: #fff;
}

.bg { 
    /* The image used */
    background-image: url("splash4.png");

    /* Half height */
    height: 50%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.mastfoot {
  color: rgba(255, 255, 255, .5);
  width:100%;
  height:30px;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #000;
  text-align: center;
}


a:link {
     color: #fff;
}

a:visited {
     color: #fff;
}

.bg-dark {
  background-color: #000 !important;
}

.myfoot{
    
}

.jumbotron-fluid {
  margin-bottom: 0;
  margin-top: 3rem;
  padding-right: 0;
  padding-left: 0;
  border-radius: 0;
  text-align: center;
}

.cover-heading{
  text-align: center;
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
  text-align: center;
  max-width:700px;
  margin:0 auto;
}

.btn{
  margin-top: 2rem;
  margin-bottom: 4rem;
}