body, html {
    height: 100%;
    background-color: #333;
}

body {
  color: #fff;
}

.container {
  max-width: 960px;
}

.bg { 
    /* The image used */
    background-image: url("barcode_waterfall.jpg");

    /* Half height */
    height: 50%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.article{
  color: rgba(255, 255, 255, .6);
  margin-bottom: 0px;
  padding: 0px;
  align: center;
  
}


.main.list{
  padding: 100px;
}

.top.list:not(:last-child) {
    margin-bottom: 50px;
}

ul + ul { margin-top: 2em } /* <-- try changing this */

.mastfoot {
  color: rgba(255, 255, 255, .5);
  width:100%;
  height:30px;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #000;
  text-align: center;
}

body {
  color: #fff;
}

a:link {
     color: rgba(200, 200, 255, .6);
}

a:visited {
     color: rgba(200, 200, 255, .6);
}

a2:link {
     color: #fff;
}

a2:visited {
     color: #fff;
}

.bg-dark {
  background-color: #000 !important;
}

.myfoot{
    
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #000;
    margin: 1em 0;
    padding: 0; 
}


.jumbotron-fluid {
  margin-bottom: 0;
  margin-top: 0;
  padding-right: 0;
  padding-left: 0;
  border-radius: 0;
  text-align: center;
}

.cover-heading{
  text-align: center;
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
  max-width:700px;
  margin:0 auto;
  color: rgba(255, 255, 255, .6);
}

.lead2 {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 300;
  max-width:1200px;
  margin:0 auto;
  color: rgba(255, 255, 255, .7);
}

.bio {
  font-size: 1rem;
  font-weight: 300;
  max-width:1200px;
  margin:0 auto;
  color: rgba(255, 255, 255, .9);
}

.main2 {
  font-size: 1.25rem;
  font-weight: 300;
  max-width:700px;
  margin:0 auto;
}


.btn{
  margin-top: 2rem;
  margin-bottom: 4rem;
}